*{
    box-sizing: border-box;
}
/* -------------------------------------------- */
/* Navigation Bar */
.navBar ul{
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
    background-color: black;
    overflow: auto;
}
.navBar ul li{
    float:left;
}
.navBar ul li a{
    text-decoration: none;
    padding: 18px 15px;
    color: white;
    display: block;
    text-align: center;
}
.navBar ul li a:hover{
    background-color: red;
}

/* -------------------------------------------- */
/* Div Body */
.divBody{
    overflow: hidden;
}
.divBody h1,h2,h3,p{
    color: white;
    padding: 0 15px ;
}
/* Side Bar */
.divBody .leftSide{
    float: left;
    width: 22%;
    background-color: black;
    min-height: 500px;
    padding: 20px;
}
.divBody .leftSide .divImg{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.divBody .leftSide .divImg img{
    width: 100%;
    height: 100%;
}

/* Main Body */
.divBody .mainBody{
    background-color: black;
    width: 77%;
    float: left;
    padding: 20px;
    margin: 0 0 0 1%;
}
/* CLEARFİX METHOD */
/* .clearfix {
    overflow: auto;
  }   */
.divBody::after{
    content: "";
    display: table;
    clear: both;
}

/* -------------------------------------------- */
.divFooter{
    margin-top: 20px;
    background-color: black;
}
.divFooter p{
    padding: 10px;
    color: white;
}






/* //////////////////////////////////// */

@media  screen and (max-width: 700px){
    .navBar ul li a{
        color: white;
        font-size: 13px;
        padding: 10px 7px;
    }

    .divBody .leftSide{
        /* overflow: auto; */
        width: 100%;
        margin: 10px 0 10px 0;
        display: block;
        float: none;
        border-radius: 9px;
    }
    .divBody .mainBody{
        /* overflow: auto; */
        width: 100%;
        display: block;
        float: none;
        margin: 10px 0 10px 0;
        border-radius: 9px;
    }
    .divFooter{
        border-radius: 9px;
    }
}