*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  main{
    width: 100%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .a{
    text-align: center;
    top: 50px;
    font-size: 27px;
    margin: 15px;
  }
  .b{
    display: block;
    font-size: 27px;
    text-align: center;
    margin: 15px;
  }
  .c{
    text-align: center;
    top: 50px;
    font-size: 27px;
  }
  .ucgen {
    width: 0; 
    height: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid transparent; 
    border-bottom: 80px solid ; 
    border-left: 80px solid ; 
    position: sticky;
  }
  .baslik{
    top: 0px;
    text-align: center;
    position: fixed;
    margin-top: 20px;
  }
  .baslik h1{
    background-color: blue; 
    padding: 2px;
    color: cornsilk;
    border-radius: 4px;
    margin-bottom: 17px;
  }
  .girdiAlani{
    text-align: center;
    margin-top: 25%;
    position: sticky;
    margin-bottom: 0px;
  }
  .girdiAlani div{
    margin: 20px 0px;
  }
  .girdiAlani div input{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    width: 22%;
    height: 30px;
    font-size: 20px;
    border:none;
    border-bottom:solid ;
    text-align: center;
    outline:none
  }
  .girdiAlani div input:focus{
    font-size: 18px;
    cursor: pointer;
    width: 50%;
    
  }
  .info{
    padding: 3px 9px;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    border: none;

  }
  .info a{
    color: aqua;
  }
  #idOk{
    padding: 9px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px black;
    position: sticky;
    margin-bottom: 0px;
  }
  #idOk:hover{
    background-color: rgb(163, 60, 60);
    cursor: pointer;
    outline:none
  }
  #idOk:active{
    background-color: rgb(161, 71, 71);
    box-shadow: 1px 1px 3px black;
    outline:none
  }
