*{
    margin: 0px;
}
main{
    margin: 0px 5.1% ;
}
footer{
    margin: 17px 0px;
}
/******** Genel heryerde kullanmak için yazılan css ***********/

/* Dikey ve yatay hizalama için class */
.center-horizantal{
    text-align: center;
}
.center-vertical{
    align-items: center;
}

/* Arkaplan Renkleri için class */
.first-bgc{
    background-color: rgb(238, 238, 238);
}
.second-bgc{
    background-color: rgb(126, 229, 218);
}
.third-bgc{
    background-color: rgb(112, 204, 194);
}
.fourth-bgc{
    background-color: rgb(98, 179, 170);
}

/* Genişlik için class */
#l-box{
    width: 39%;
}
#c-box{
    width: 22%;
}
#r-box{
    width: 39%;
}






.mt1{
    margin-top: 0.25em;
}

/* yan yana koymak için */
.flex{
    display: flex;
}

/* küçük olan yazılara vermek için */
.small-font{
    font-size:13px;
}

/* arama buton altındaki kutular için */
.sub-box{
    border-spacing: 2px;
    margin: 1px;
    margin-top: 0px;
    height: 72px;
}




/*  info için  */
#idInfo{
    background-color: yellow;
    color: red;
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0px;
    padding: 8px;
}
.clsExit{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    margin: 0px 10px;
}
.clsExit:hover{
    background-color: rgb(185, 117, 117);
    cursor: pointer;
}