*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.container{
    position: absolute;
    top: 18%;
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
    padding: 30px 50px;
    background-color: bisque;
    font-size: 1.3rem;
}
.container p, h3, a{
    text-align: center;
    text-decoration: none;
}
input[type=text]{
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}
#idBtnGiris{
    padding: 10px 15px;
    border: none;
    background-color: yellowgreen;
    width: 30%;
    margin: 10px 35%;
    border-radius: 9px;
    font-size: 18px;
    display: block;
}
#idBtnGiris:hover{
    background-color: rgb(138, 195, 25);
    color: rgb(40, 37, 37);
}
#idBtnGiris:focus{
    background-color: rgb(74, 108, 6);
    color: rgb(255, 255, 255);
}

/* İNDEX */
#idTahminYap{
    width: 40px;
    height: 40px;
    background-color: rgb(53, 53, 53);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0px 0px 10px 11px;
}
#idTahminYap a{
    color: rgb(184, 162, 162);
    text-decoration: none;
    font-size: 30px;
}
#idTahminYap:hover{
    background-color: rgb(87, 85, 85);
    width: 41px;
    height: 41px;
    box-shadow: 5px 5px 5px #000;
}
#idTahminYap:focus{
    background-color: rgb(87, 85, 85);
    width: 39px;
    height: 39px;
}
#idTahminYap:hover a{ 
    color: white;
}
.tahminContainer{
    width: 100%;
    height: 100%;
    background-color: thistle;
    margin: 0px;
    padding: 0px;
}
.tahminContainer h1{
    margin: 0px;
    padding: 15px 0px;
}
.rowHead{
    width: 100%;
    padding: 10px 0px;
    background-color: teal;
    text-align: center;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}
.row{    
    border-radius: 7px;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px;
    background-color: rgb(5, 58, 58);
    color: white;
    text-align: center;
    overflow: hidden;

}
.col-10{
    width: 10%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
}
.col-20{
    width: 20%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
}
.col-30{
    width: 30%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
}